[Service]
# Verbosity of the logging system
# Possible values are:
# CRITICAL, ERROR, WARNING, INFO, DEBUG
verbosity = INFO

[mysql]
host = name.domainname
user = username
password = password
db = seiscomp3
