[Logging]
# Verbosity of the logging system
# Possible values are:
# CRITICAL, ERROR, WARNING, INFO, DEBUG
main = INFO
AccessAPI = INFO
NetworksAPI = INFO
SC3MicroAPI = INFO

[mysql]
host = name.domainname
user = username
password = password
db = seiscomp3

[Service]
network =